body{
    background-color: #DCDCDA;
}
.alert{
    position: fixed;
    bottom:20px;
    right:20px;
    width:300px;
    background-color: #CE647C;
    color:#fff;
    font-family: system-ui;
    padding:10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40px auto 30px;
    animation: showAlert 0.5s ease-in-out 1;
    display: none;
}
.alert .title{
    font-weight: bold;
}
.alert .des{
    font-size: small;
}
.alert .icon,
.alert .close{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes showAlert{
    from{
        opacity: 0;
        transform: translate(0, 100px);
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}
#success{
    background-color: #31AF8C;
}